@{
    ViewBag.Title = "修改用户密码";
    Layout = null;
}
@model BestWise.User.Model.Users
    <div class="easyui-panel" data-options="fit:true,border:false;" style="padding:10px;">
        <form id="form-detail" method="post">
            <table class="tabdetail">
                <tr>
                    <td class="tdtitle">当前用户：</td>
                    <td><span style="color:gray;font-weight:bold;">@Model.UserName</span></td>
                </tr>
                <tr>
                    <td class="tdtitle"><i>*</i>原始密码：</td>
                    <td>@Html.PasswordFor(m => m.OldPassword, new { @class = "detailinput easyui-validatebox", data_options = "required:true,validType:'length[6,100]'", placeholder = "原始密码" })</td>
                </tr>
                <tr>
                    <td class="tdtitle"><i>*</i>新密码：</td>
                    <td>@Html.PasswordFor(m => m.Password, new { @class = "detailinput easyui-validatebox", data_options = "required:true,validType:'length[6,100]'", placeholder = "新密码" })</td>
                </tr>
                <tr>
                    <td class="tdtitle"><i>*</i>确认新密码：</td>
                    <td>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "detailinput easyui-validatebox", data_options = "required:true,validType:'compare[\"#Password\"]'", placeholder = "确认新密码" })</td>
                </tr>
            </table>
            @Html.HiddenFor(m => m.UserId)
        </form>
    </div>
