@{
    ViewBag.Title = "课程信息";
}
@model BestWise.YLS.Model.StudentBook

<div class="easyui-panel" data-options="fit:true,border:false;" style="padding:5px;">
    <form id="form-detail" method="post">
        <table class="tabdetail">
            <tr>
                <td class="tdtitle">名称：</td>
                <td>@Html.TextBox("BookName", Model.BookName)</td>
            </tr>
            <tr>
                <td class="tdtitle">预约人：</td>
                <td>@Html.TextBox("UserName", Model.UserName)</td>
            </tr>
            <tr>
                <td class="tdtitle">性别：</td>
                <td>@Html.TextBox("SexText", Model.SexText)</td>
            </tr>
            <tr>
                <td class="tdtitle">单位：</td>
                <td>@Html.TextBox("Organization", Model.Organization)</td>
            </tr>
            <tr>
                <td class="tdtitle">职位：</td>
                <td>@Html.TextBox("Position", Model.Position)</td>
            </tr>
            <tr>
                <td class="tdtitle">手机号：</td>
                <td>@Html.TextBox("MobileNumber", Model.MobileNumber)</td>
            </tr>
            <tr>
                <td class="tdtitle">邮箱：</td>
                <td>@Html.TextBox("Email", Model.Email)</td>
            </tr>
            <tr>
                <td class="tdtitle">开始时间：</td>
                <td>@Html.TextBox("StartTime", Model.StartTime)</td>
            </tr>
            <tr>
                <td class="tdtitle">结束时间：</td>
                <td>@Html.TextBox("EndTime", Model.EndTime)</td>
            </tr>
            <tr>
                <td class="tdtitle">处理状态：</td>
                <td>@Html.TextBox("DealState", Model.DealStateText)</td>
            </tr>
            <tr>
                <td class="tdtitle">培训单位：</td>
                <td>@Html.TextBox("TrainOrganization", Model.TrainOrganization)</td>
            </tr>
            <tr>
                <td class="tdtitle">培训人数：</td>
                <td>@Html.TextBox("TrainNumber", Model.TrainNumber)</td>
            </tr>
            <tr>
                <td class="tdtitle">培训需求：</td>
                <td>@Html.TextArea("TrainNeeds", Model.TrainNeeds, new { @class = "detailtextArea", style = "border:0" })</td>
            </tr>
            <tr>
                <td class="tdtitle">备注：</td>
                <td>@Html.TextArea("Notes", Model.Notes, new { @class = "detailtextArea", style = "border:0" })</td>
            </tr>
        </table>
    </form>
</div>
