
@model BestWise.User.Model.Sys_Function
@{
    ViewBag.Title = "";
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        $('#ParentID').combotree({
            url: '/SysMenu/Combotree',
            lines: true,
            required: true,
            method: 'post',
            editable: false
        });
    });
</script>

<div class="easyui-panel" data-options="fit:true,border:false;" style="padding:10px;">
    <form id="form-detail" method="post">
        <table class="tabdetail">
            <tr>
                <td class="tdtitle"><i>*</i>父节点：</td>
                <td colspan="2">@Html.TextBox("ParentID", string.Equals(Model.ParentId, 0) ? "0" : Model.ParentId.ToString(), new { style = "width:300px;height:25px;" })</td>
            </tr>
            <tr>
                <td class="tdtitle"><i>*</i>菜单名称：</td>
                <td colspan="2">@Html.TextBoxFor(o => o.Name, new { @class = "detailinput easyui-validatebox", data_options = "required:true,validType:'length[1,16]'" })</td>
            </tr>
            <tr>
                <td class="tdtitle"><i>*</i>导航地址：</td>
                <td colspan="2">@Html.TextBoxFor(o => o.Identify, new { @class = "detailinput easyui-validatebox", data_options = "required:true,validType:'length[1,100]'" })</td>
            </tr>
            <tr>
                <td class="tdtitle"><i>*</i>排序编号：</td>
                <td colspan="2">@Html.TextBoxFor(o => o.Sort, new { @class = "detailinput easyui-numberbox", data_options = "required:true" })</td>
            </tr>
            <tr>
                <td class="tdtitle">默认选中：</td>
                <td colspan="2"><label class="cklable">@Html.CheckBoxFor(o => o.IsSelected) 是</label></td>
            </tr>
            <tr>
                <td class="tdtitle">备注：</td>
                <td colspan="2">@Html.TextAreaFor(o => o.Notes, new { @class = "detailtextArea" })</td>
            </tr>
        </table>
        @Html.HiddenFor(o => o.Id)
    </form>
</div>